@import "tailwindcss";

:root{
  --primary-text-col: #d9d9d9;
}

body{
  background-color: #111;
  font-family: "Poppins", sans-serif;
}

#overlay{
  background: linear-gradient(180deg,#0404042f,#040404 92%);
}

.font-antonio{
  font-family: "Antonio", sans-serif;
}

.font-poppins{
  font-family: "Poppins", sans-serif;
}